<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localise</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header class="header">
        <logo>
            <div>
                <a href="#">
                    <img src="images/Group-logo.png" alt="logo__img">
                </a>
            </div>
        </logo>
        <div class="wrapper">
            <div class="menu-wrap">
                <ul class="menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Product
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Features
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Pricing
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Case studies
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Resources
                        </a>
                    </li>
                </ul>
            </div>
            <div class="button button-wrap">
                <a href="#" class="button__link transperent">
                    Log in
                </a>
                <a href="#" class="button__link button-button">
                    Try it free
                </a>
            </div>
        </div>
    </header>
    <div class="box">
        <div class="container">
            <div class="box__item">
                <div class="box__article">
                    <h2 class="box__title">
                        Accelerate localization from code to delivery
                    </h2>
                    <p class="box__text">
                        A localization and translation management platform for agile teams. Embrace automation, workflow
                        transparency, and fast project delivery.
                    </p>
                    <div class="box__button-wrap">
                        <a href="#" class="box__button button-button">
                            Try it free
                        </a>
                        <a href="#" class="box__button transperent">
                            Book a demo
                        </a>
                    </div>
                    <div class="box__manual">
                        Try all features for 14 days · No credit card required
                    </div>
                </div>
                <div>
                    <img src="images/header-image.png" alt="header-image" class="header__image">
                </div>
            </div>
        </div>
    </div>
    <div class="company">
        <div class="container">
            <div>
                <h2 class="company__title">
                    The preferred localization tool of 1500+ companies
                </h2>
                <div class="company__image">
                    <div>
                        <img src="images/specialized.png" alt="specialized">
                    </div>
                    <div>
                        <img src="images/virgin.png" alt="virgin">
                    </div>
                    <div>
                        <img src="images/tidal.png" alt="tidal">
                    </div>
                    <div>
                        <img src="images/revolut.png" alt="revolut">
                    </div>
                    <div>
                        <img src="images/yelp.png" alt="yelp">
                    </div>
                    <div>
                        <img src="images/daimler.png" alt="daimler">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <article class="holder__article">
                <div class="holder__description">
                    <h3 class="holder__title">
                        Control the localization process
                    </h3>
                    <p class="holder__text">
                        Collaborate with your team in a single workspace. Add and assign
                        <a href="#" class="holder__hypertext">
                            tasks
                        </a>
                        , track progress, and enjoy a seamless localization
                        workflow where you know who is doing what and when.
                    </p>
                    <a href="#" class="holder__link">
                        Start now
                    </a>
                </div>
                <div class="holder__image">
                    <img src="images/project_app.png" alt="projectApp" class="holder__img">
                </div>
            </article>
        </div>
        <div class="container">
            <article class="holder__article">
                <div class="holder__description">
                    <h3 class="holder__title">
                        Shorten time to market
                    </h3>
                    <p class="holder__text">
                        Localize your product in parallel with the development cycle. Use the
                        <a href="#" class="holder__hypertext">
                            Adobe XD
                        </a>
                        ,
                        <a href="#" class="holder__hypertext">
                            Figma
                        </a>
                        , and
                        <a href="#" class="holder__hypertext">
                            Sketch
                        </a>
                        plugins to start working on translations as soon as the product design is ready. No more idle
                        waiting.
                    </p>
                    <a href="#" class="holder__link">
                        Start now
                    </a>
                </div>
                <div class="holder__image">
                    <img src="images/icons.png" alt="icons" class="holder__img">
                </div>
            </article>
        </div>
        <div class="container">
            <article class="holder__article">
                <div class="holder__description">
                    <h3 class="holder__title">
                        Ensure quality
                    </h3>
                    <p class="holder__text">
                        Use built-in tools — e.g.
                        <a href="#" class="holder__hypertext">
                            translation memory
                        </a>
                        , machine translation, and
                        <a href="#" class="holder__hypertext">
                            QA checks
                        </a>
                        — to enhance the quality and cohesion of translations. Add product
                        <a href="#" class="holder__hypertext">
                            screenshots
                        </a>
                        for context and use the
                        <a href="#" class="holder__hypertext">
                            in-context editors
                        </a>
                        for instant previews.
                    </p>
                    <a href="#" class="holder__link">
                        Start now
                    </a>
                </div>
                <div class="holder__image">
                    <img src="images/form.png" alt="form" class="holder__img">
                </div>
            </article>
        </div>
        <div class="container">
            <article class="holder__article">
                <div class="holder__description">
                    <h3 class="holder__title">
                        Less work for developers
                    </h3>
                    <p class="holder__text">
                        Eliminate the hassle of localization and let developers get back to their main tasks. Save hours
                        with the powerful
                        <a href="#" class="holder__hypertext">
                            API
                        </a>
                        ,
                        <a href="#" class="holder__hypertext">
                            CLI
                        </a>
                        ,
                        <a href="#" class="holder__hypertext">
                            mobile SDKs
                        </a>
                        , and integrations with
                        <a href="#" class="holder__hypertext">
                            GitHub
                        </a>
                        ,
                        <a href="#" class="holder__hypertext">
                            Bitbucket
                        </a>
                        ,
                        <a href="#" class="holder__hypertext">
                            JIRA
                        </a>
                        , and more.
                    </p>
                    <a href="#" class="holder__link">
                        Start now
                    </a>
                </div>
                <div class="holder__image">
                    <img src="images/lessworkImg.png" alt="lessworkImg" class="holder__img">
                </div>

            </article>
        </div>
    </div>
    <div class="options">
        <div class="container">
            <h2 class="options__title">
                What can you localize with Lokalise?
            </h2>
            <div class="options__items">
                <div class="option__item">
                    <div class="option__image">
                        <img src="images/web-apps.png" alt="webAppsimg" class="option__img">
                    </div>
                    <div class="option__description">
                        <h4 class="options__titles">
                            Web apps
                        </h4>
                        <p class="option__text">
                            Any kind of web apps — backend, frontend, single page, blogs — you name it.
                        </p>
                    </div>
                </div>
                <div class="option__item">
                    <div class="option__image">
                        <img src="images/mobileapps.png" alt="mobileAppsimg" class="option__img">
                    </div>
                    <div class="option__description">
                        <h4 class="options__titles">
                            Mobile apps
                        </h4>
                        <p class="option__text">
                            Upload any mobile platform language files. Embed
                            <a href="#" class="options__hypertext">
                                Lokalise iOS SDK
                            </a>
                            or
                            <a href="#" class="options__hypertext">
                                Lokalise Android SDK
                            </a>
                            if you prefer.
                        </p>
                    </div>
                </div>
                <div class="option__item">
                    <div class="option__image">
                        <img src="images/games.png" alt="gamesImg" class="option__img">
                    </div>
                    <div class="option__description">
                        <h4 class="options__titles">
                            Games
                        </h4>
                        <p class="option__text">
                            Our cloud software is trusted by many leading game developers around the world.
                        </p>
                    </div>
                </div>
                <div class="option__item">
                    <div class="option__image">
                        <img src="images/documents.png" alt="documents" class="option__img">
                    </div>
                    <div class="option__description">
                        <h4 class="options__titles">
                            Documents
                        </h4>
                        <p class="option__text">
                            Upload your DOCX and static HTML files.
                        </p>
                    </div>
                </div>
                <div class="option__item">
                    <div class="option__image">
                        <img src="images/marketing-email.png" alt="marketing-email" class="option__img">
                    </div>
                    <div class="option__description">
                        <h4 class="options__titles">
                            Marketing e-mails
                        </h4>
                        <p class="option__text">
                            Integrate with Salesforce Marketing Cloud (coming soon) or translate static e-mails.
                        </p>
                    </div>
                </div>
                <div class="option__item">
                    <div class="option__image">
                        <img src="images/iot.png" alt="Iot" class="option__img">
                    </div>
                    <div class="option__description">
                        <h4 class="options__titles">
                            IoT
                        </h4>
                        <p class="option__text">
                            We support most popular localization file formats.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2 class="section__title">
                Boost your localization team's productivity tenfold
            </h2>
            <div class="section__items">
                <div class="section__item">
                    <div class="section__image">
                        <img src="images/manegers.png" alt="managers" class="section__img">
                    </div>
                    <div>
                        <h4 class="section__titles">
                            Managers
                        </h4>
                        <p class="section__text">
                            Update existing and launch new features and products while simultaneously localizing them in
                            multiple languages. Streamline your team's workflow, maximize productivity, and speed up
                            expansion to other markets.
                        </p>
                        <a href="#" class="section__link">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="section__item">
                    <div class="section__image">
                        <img src="images/developers.png" alt="developers" class="section__img">
                    </div>
                    <div>
                        <h4 class="section__titles">
                            Developers
                        </h4>
                        <p class="section__text">
                            Set up an integration with your code repository or your own custom SDK via Lokalise's
                            <a href="#" class="section__hypertext">
                                powerful API
                            </a>
                            . Do that once, and every time you make changes in the code, they'll be automatically
                            imported to lokalise for translation.
                        </p>
                        <a href="#" class="section__link">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="section__item">
                    <div class="section__image">
                        <img src="images/translatos.png" alt="translators" class="section__img">
                    </div>
                    <div class="section__description">
                        <h4 class="section__titles">
                            Translators
                        </h4>
                        <p class="section__text">
                            Eliminate double-work and neverending revisions with visual context (screenshots) and live
                            previews. Improve the quality and speed of your translations with built-in CAT tools, like
                            autocomplete, inline machine translation, and translation memory.
                        </p>
                        <a href="#" class="section__link">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="desc">
        <div class="container">
            <div class="wrap">
                <div class="desc__wrap">
                    <p class="desc__text">
                        “Lokalise has turned a task we were dreading into an absolute pleasure. Great platform,
                        intuitive UX, powerful API. The automatic text recognition for screenshots has been a lifesaver,
                        and over-the-air updates are the icing on the cake.”
                    </p>
                    <p class="desc__author">
                        Edward Cooper, Chief Mobile Officer
                    </p>
                    <div>
                        <img src="images/logoRevolut.png" alt="logoRevolut">
                    </div>
                </div>
                <div>
                    <img src="images/photo.png" alt="photo" class="desc__photo">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row__items">
                <div class="row__logo">
                    <div>
                        <img src="images/cake.png" alt="cakePicture" class="rewards__picture">
                    </div>
                    <h3 class="row__title">
                        The most-loved translation management software
                    </h3>
                </div>
                <div class="row__item">
                    <div>
                        <img src="images/usersloveus.png" alt="usersloveus" class="row__img">
                    </div>
                    <div>
                        <img src="images/capterra.png" alt="capterra" class="row__img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="container">
            <div class="aside__wrap">
                <h2 class="aside__title">
                    Integrate Lokalise with your work tools
                </h2>
                <p class="aside__text">
                    Automate processes, eliminate routine tasks, and track progress with ease.
                </p>
                <div class="aside__image">
                    <img src="images/bird.png" alt="bird" class="aside__img">
                </div>
                <div class="aside__button-wrap">
                    <a href="#" class="aside__button button-button">
                        See all integrations
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="more">
        <div class="container">
            <div class="more__wrap">
                <h2 class="more__title">
                    Localization made easy. Why wait?
                </h2>
                <p class="more__text">
                    Try for free or let us show you how it works.
                </p>
                <div class="more__button-wrap">
                    <a href="#" class="more__button button-button">
                        Try it free
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__wrap">
                <div class="footer__item">
                    <h3 class="footer__title">
                        Case Studies
                    </h3>
                    <div class="footer__image">
                        <img src="images/photo-biсycle.png" alt="photo-biсycle" class="footer__img">
                    </div>
                    <div class="footer__logo">
                        <img src="images/logoSpecialized.png" alt="logoSpecialized" class="footer__logo">
                    </div>
                    <p class="footer__text">
                        Riding towards global success with a 100% teammate enthusiasm
                    </p>
                    <a href="#" class="footer__link">
                        Read more
                    </a>
                </div>
                <div class="nav">
                    <div class="nav__wrap">
                        <p class="nav__title">
                            Product
                        </p>
                        <ul class="nav__menu">
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    For developers
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    For managers
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    For translators
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    For designers
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Integrations
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Security
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Pricing
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Automations
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav__wrap">
                        <p class="nav__title">
                            Support
                        </p>
                        <ul class="nav__menu">
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Contact
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Documentation
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Status
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Product Updates
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    CLI Tool
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    API Reference
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    iOS and Android SDK
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Supported File Formats
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav__wrap">
                        <p class="nav__title">
                            Company
                        </p>
                        <ul class="nav__menu">
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    About
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Blog
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Careers | We`re Hiring
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Case Studies
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Media Kit
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav__wrap">
                        <p class="nav__title">
                            Legal
                        </p>
                        <ul class="nav__menu">
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Terms of Service
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Cookie Policy
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Privacy Shield
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    DPA
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    List of Sub-processors
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    Candidates Privacy Notice
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-aside">
                <div>
                    <div class="footer-aside__logo">
                        <div class="footer-aside__image">
                            <img src="images/localise.png" alt="localise" class="footer-aside__img">
                        </div>
                        <p class="footer-aside__text">
                            Localization workflow for your web and mobile apps, games and digital content.
                        </p>
                    </div>
                </div>
                <div class="footer-aside__wrap">
                    <p class="footer-aside__copyright">
                        &copy2001-2020
                    </p>
                    <p class="footer-aside__copyright">
                        All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>